/*---RESETS/NORMALIZE---*/
html, body, div, ul, li, h1, h2, h3, a, p, img {
	margin:0;
	padding:0;
	border:0;
	line-height:1em;
	font-size:100%;
	font-weight:normal;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
	vertical-align:top;
	-webkit-transition:font-size 0.3s ease-in, padding 0.3s ease-in;
	-moz-transition:font-size 0.3s ease-in, padding 0.3s ease-in;
	-ms-transition:font-size 0.3s ease-in, padding 0.3s ease-in;
	-o-transition:font-size 0.3s ease-in, padding 0.3s ease-in;
	transition:font-size 0.3s ease-in, padding 0.3s ease-in;
}
body {overflow:auto;}
body::-webkit-scrollbar {width:0;}
h1, h2, h3, a, div, p, ul, li {font-family:'Roboto', sans-serif;}
a {text-decoration:none;}
input {
	border:none; 
	outline:none; 
	padding:2px 3px;
}

/*---IDS---*/
#nav {
	width:100%;
	min-height:180px;
	text-align:center;
	
	display:-webkit-flex;
	display:flex;

	justify-content:space-around;
	align-items:center;
	flex-direction:column;
	padding:1em 0;
}
#nav h1 {margin-bottom:10px;}
#nav h1 span {white-space:nowrap;}
#nav h1, #login, #logout {
	vertical-align:middle;
	text-align:center;
}

#login {position:relative;}
#login h2 {margin-bottom:5px;}
#login .button {display:inline-block;}
#logout h2 {margin-bottom:14px;}

#bad-login {
	padding:0.2em 0;
	width:100%;
	position:absolute;
	bottom:-1.7em;
	box-shadow:0 0 2px 1px #ff0000;
}

#username input, #password input {margin:3px 0 7px 0;}

#content {
	display:-webkit-flex;
	display:flex;
	align-items:center;
	justify-content:flex-start;
	flex-direction:column;
	padding:2em 0;
}

#tasks {
	width:90%;
	box-shadow:0 0 10px 0px #888;
}
#tasks > h2 {text-align:center; margin:1em 0;}
#new-task {
	margin-bottom:2em;
	text-align:center;
}
#new-task h3, #new-task > input {display:block; margin-bottom:1em;}
#add-task:hover {cursor:pointer;text-decoration:underline;}
#add-task-btn {
	width:20px;
	height:20px;
	background:url('../images/plus.png') no-repeat center;
	background-size:10px 10px;
	display:inline-block;
	vertical-align:text-top;
}

/*---CLASSES---*/
.button {
	display:inline;
	color:#203f48;
	padding:3px 8px;
	box-shadow:0 0 3px 0 #000;
}
.button:hover {
	cursor:pointer;
	opacity:0.9;
}
.button:active {
	box-shadow:0 0 0 1px #555 inset;
}

.check {
	position:relative;
	display:inline-block;
	width:15px;
	height:15px;
	cursor:pointer;
	border-radius:50%;
}

.check input {
	position:absolute;
	z-index:-1;
	opacity:0;
}

.check .check-ind:before {
	content:"";
	position:absolute;
	top:3px;
	left:3px;
	width:9px;
	height:9px;
	border-radius:50%;
}


.check input:checked ~ .check-ind:before {
	content:"";
	background:inherit;
}

.task {
	width:100%;
	border-bottom:1px solid #b3c2bf;
	padding:0.5em 1em;
	display:flex;
	justify-content:space-around;
	align-items:center;
	flex-direction:row;
	flex-wrap:wrap;
}
.task h2 {
	flex-basis:100%;
	margin-bottom:0.4em;
}

/*---GENERIC CLASSES---*/
.hidden {display:none;}
.invisible {visibility: hidden;}
.err-empty-input{box-shadow:0 0 0 1px #FF0000;}

/*---FONT SIZES---*/
h1 {font-size:2em;}
h2 {font-size:1.2em;}
h3 {font-size:1.1em;}

/*---TEXT COLORS---*/
.tx-dark {color:#3b3a36;}
.tx-grey {color:#b3c2bf;}
.tx-light-grey {color:#e9ece5;}
.tx-green {color:#33C4A7;}
.tx-light-green {color:#c0dfd9;}
.tx-white {color:#ffffff;}
.tx-err {color:#ff0000;}

/*---BACKGROUND COLORS---*/
.bg-dark {background-color:#3b3a36;}
.bg-grey {background-color:#b3c2bf;}
.bg-light-grey {background-color:#e9ece5;}
.bg-green {background-color:#33C4A7;}
.bg-light-green {background-color:#c0dfd9;}
.bg-white {background-color:#ffffff;}

.bg-red {background-color:#fc1d00;}
.bg-orange {background-color:#fc8100;}
.bg-yellow {background-color:#fcb500;}

/*---OUTLINE COLORS---*/
.ot-red {border:3px solid #fc1d00;}
.ot-orange {border:3px solid #fc8100;}
.ot-yellow {border:3px solid #fcb500;}

@media (min-width:650px) {
	h1 {font-size:2.5em;}
	h2 {font-size:1.4em;}
	#nav {
		text-align:left;
		padding:1em 1.25em; 
		flex-direction:row;
		justify-content:space-between;
	}
	#bad-login {bottom:-1.9em;}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	h1 {font-size:3em;}
	#nav {padding:1em 2em;}
	#content {
		flex-direction:row; 
		align-items:flex-start; 
		justify-content:center;
	}
	#new-task {margin-right:30px;text-align:left;}
	#tasks {width:60%;}
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#tasks {max-width:800px;}
}